@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  /* overflow-x: hidden;  /* ✅ stops sideways scroll */
  /* overflow-y: auto;    ✅ browser handles vertical scroll */ 
}


body {
  font-family: 'Poppins', sans-serif;
  background-color: #0f0f1c; /* dark */
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

.cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgba(124, 58, 237, 0.4);
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: screen;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out;
}

